﻿@model IEnumerable<XPos.DataModel.FileCollection>
@{
    int colCnt = 4;
}
@*Page count : @ViewBag.PageCount*@
@foreach (var item in Model)
{
    if (colCnt == 4)
    {
        colCnt = 0;
        @:<div class="row">
    }
              <div class="col-xs-3">
                  Title: @Html.DisplayFor(modelItem => item.Title)<br />
                  File: @Html.DisplayFor(modelItem => item.FileName)<br />
                  <img src="/UploadFiles/@item.FileName" alt="Sample Image" width="100" />
                  <div class="form-group">
                      @Html.LabelFor(modelItem => item.Active)
                      @Html.DisplayFor(modelItem => item.Active)
                  </div>
                  <div class="form-group">
                      @Html.LabelFor(modelItem => item.CreateDate)
                      @Html.DisplayFor(modelItem => item.CreateDate)
                  </div>
              </div>
    if (colCnt == 3)
    {
        @: </div>
    }
    colCnt++;
}


<script type="text/javascript">
    $(document).ready(function () {
        maxPage = @ViewBag.PageCount;
    })
</script>