﻿
@{
    ViewBag.Title = "Upload File";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "UploadFile", FormMethod.Post, new { id = "form-create", name = "form-create", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="selectedfile" class="control-label col-md-2">Upload File</label>
        <div class="col-md-10">
            <input type="file" name="selectedfile" id="selectedfile" class="btn btn-default" onchange="showPreview(this)"/>
            <br />
            <img src="" alt="No Image" id="img-preview" width="200px" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Upload File" id="upload-file" class="btn btn-success" />
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $("#upload-file").click(function () {
            var formData = new FormData();

            formData.append("file", $('#selectedfile')[0].files[0]);

            $.ajax({
                url: '@Url.Action("Create", "UploadFile")',
                type: 'post',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.success) {
                        alert("Success");
                    }
                }
            })
            return false;
        })

        function showPreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#img-preview").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}