﻿@model XPos.DataModel.OrderHeader


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control text-right text-box single-line" id="bill-amount" name="bill-amount" readonly="readonly" type="number" value="@Model.Amount">
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label for="bill-payment">Payment</label>
            </div>
            <div class="col-md-10">
                <input class="form-control text-right text-box single-line" id="bill-payment" name="bill-payment" type="number" value="0" onchange="PaymentChange()" onKeyup="PaymentChange()">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label for="bill-change">Change</label>
            </div>
            <div class="col-md-10">
                <input class="form-control text-right text-box single-line" id="bill-change" name="bill-change" readonly="readonly" type="number" value="0">
            </div>

        </div>


        <div class="form-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="bill-order-list">
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Cancel" id="btn-bill-close" data-dismiss="modal" class="btn btn-default" />
                    <input type="button" value="Payment" id="btn-bill-payment" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
        $("#bill-change").val(parseFloat($("#bill-amount").val()) * -1);
        if (@ViewBag.Type == 0) {
            if (data.OrderDetails) {
                $.map(data.OrderDetails, function (detail) {
                    var tr = `<tr>
                            <td>${detail.ProductName}</td>
                            <td>${detail.Price}</td>
                            <td>${detail.Quantity}</td>
                            <td>${ parseFloat(detail.Price) * parseFloat(detail.Quantity)}</td >
                        </tr>`;
                    $("#bill-order-list").append(tr);
                })
            }
        }
    })

    function PaymentChange() {
        $("#bill-change").val(parseFloat($("#bill-payment").val()) - parseFloat($("#bill-amount").val()));
    }

    $("#btn-bill-payment").click(function () {
        $.ajax({
            url: '@Url.Action("Payment", "Order")',
            type: 'post',
            data: { model: data, type: 1 },
            success: function (result) {
                if (result.success) {
                    var entity = result.entity;
                    $(".modal-header").html("Thank you!");
                    $("#Reference").val(entity.Reference);
                    $("#btn-bill-close").val("Close");
                    $("#btn-bill-payment").remove();
                    $("#btn-bill-close").attr("onclick", "location.reload()");
                }
            }
        })
    })

</script>