﻿@model IEnumerable<XPos.DataModel.Variant>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Initial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Category.Initial)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Initial)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Active)
    </td>
    <td>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-warning btn-edit" data-id="@item.Id" title="Edit" onclick="GetById(@item.Id)">Edit</button>
            <button type="button" class="btn btn-danger btn-delete" data-id="@item.Id" onclick="DeleteById(@item.Id)" title="Delete">Delete</button>
        </div>
    </td>
</tr>
}

</table>
